.swiper-button-prev,
.swiper-button-next {
  color: #ffffff;
  background-color: #0e0e10;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
}

.active li {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-color: #6641a8;
  color: #a27be6;
}
